.countDialog {
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.countBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 28vh;
  margin-left: auto;
  margin-right: auto;
  width: 315.21px;
  padding: 0.75em;
  border-radius: 8px;
  max-width: calc(100% - 32px);
  min-width: 200px;
}

.boxHeader {
  display: flex;
  flex-direction: row;
}

.boxTitle {
  display: inline;
  width: 98%;
  height: 10%;
  margin: 0 0 0 0;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-left: 0.25em;
  font-size: 1.25em;
}

.close {
  display: inline;
  padding-right: 1em;
  padding-top: 0.5em;
  cursor: pointer;
}

#countsList {
  display: block;
  padding: 1em;
  padding-left: 0.35em;
  font-size: 0.9em;
}

#countsList span {
  margin-left: auto;
  margin-right: 0;
}

#bigramsCount {
  overflow-y: auto;
  max-height: 20vh;
}

#bigramsCount span {
  display: block;
  padding-left: 1em;
}
