.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38vw;
  max-width: 99%;
  height: 90vh;
  border: none;
  outline: none;
  border-radius: 0.05em;
  box-shadow: 1px 0px 4px 0px rgba(164, 89, 89, 0.75);
  -webkit-box-shadow: 1px 0px 4px 0px rgba(164, 89, 89, 0.75);
  -moz-box-shadow: 1px 0px 4px 0px rgba(164, 89, 89, 0.75);
  padding: 6em;
}

.text:active {
  border: none;
}

.editorArea {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  background-color: #f8f9fa;
}
